body{
    width: 100%; height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
header{
    background-color: rgb(83, 172, 223);
    height: 110px; width: 100%;
    display: flex;
    padding-top: 30px;
}
nav{
    height: 80px; width: 70%;
    float: right;
    margin-right: 10px; margin-left: 10px;
    padding: 5px;
}
nav .Menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
nav .Menu li{
    
    text-decoration: none;
    text-transform: lowercase;
    margin: 10px;
}
nav .Menu li a{
    text-decoration: none;
    background-color: rgb(234, 250, 115);
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #12334C;
    text-shadow: 2px 2px #ffbd2f;
}
nav .Menu li:hover
{  
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    transform:scale(1.25);
}
#logo{
    width: 90%;
    margin-left: 15px;
}


.select{
    margin-right: 40px;
    margin-left: 60px;
    margin-top: 0;
    display: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #12334C;
}
.select > li{
    background-color: rgb(234, 250, 115);
    border-radius: 40px;
    padding: 15px 30px;
    font-size: 1.5em;
}
.select li{
    margin-bottom: 1.3vh;
}
.select li ul{
    list-style: none;
    text-decoration: none;
    background-color: rgba(234, 250, 115, 0.486);
    display: none;
    position: absolute;
    padding: 0;
}
.select li ul a{
    text-decoration: none;
    
    color: #12334C;
    text-shadow: 2px 2px #ffbd2f;
    display: block;
}

.select ul li:hover {
    background-color: rgb(250, 236, 115);
}
.select li:hover > ul{
    display: block;
}
/*---------------------------------------------------------------------------------------------------------------*/
.video
{
    width: 100%;
    text-align: center;
}
#v
{
    align-items: center;
    margin: 5vh 0 5vh; 
}
.Contenido
{
    margin-bottom: 5vh;
    width: 100%;
}
.Contenido1
{
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Titulo
{
    text-align: center;
    font-family: Josefin Sans;
    font-weight: 700;
    color: #12334C;
    padding: 0;
    width: 100%;
}
.TH{
    margin-top: 2vh;
}
.imagen
{
    height: 280px;
    width: 40%;
    float: left;
    margin: 0 2vw;
}

.Texto
{
    width: 100%;
    float: right;
    margin-right:2vw;
    top: 0px;
}
p{
    font-family: Nunito ExtraLight;
    font-weight: 100;
    font-size: 1.15em;
    color: #12334C;
    text-align: justify;
}


/*--------------------SLIDER--------------------------------------------------*/
.Slider{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 90vh;
}

.SliderImg{
    max-width: 100%;
}

.container-all{
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 300ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

.Historia >p{
    margin: 2vh 2vw;
}

.form{
    display: flex;
    height: 20vh;
    margin: 0 2vw;
    border-radius: 20px;
    background-color: #ffbd2f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}
.form .aqui{
    font-weight: 400;
}
a{
    text-decoration: none;
}
.Titulo > p{
    text-align: center;
}
.TF{
    margin-top: -0.5vh;
}
.form:hover
{  
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);
    transform:scale(1.03);
}

/*------------------------------------------------------------------------------------*/

.social
{
    margin: 10px;
    width: 60px; height: 60px;
    border-radius: 100%;
}
a img
{
    width: 100%;
}
.Nombre{
    position: absolute;
    right: 0;
    margin-right: 20px; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}
footer{
    background-color: rgb(83, 172, 223);
    width: 100%;
    display: flex;
    
    margin-top: 5vh;
}
@media(min-width: 0px) and (max-width:2000px){
    .imagen
    {
        width: auto;
    }
    .Slider
    {
        height: auto;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
}
@media(min-width: 0px) and (max-width:970px){
    nav{
        float: none;
        width: auto;
    }
    .select{
        display: inline;
    }
    nav .Menu{
        display: none;
    }
}
@media(min-width: 0px) and (max-width:776px){
    nav{
        float: none;
        width: auto;
    }
    .select{
        display: inline;
    }
    nav .Menu{
        display: none;
    }
    .Contenido{
        flex-direction: column;
    }
    .Contenido1{
        flex-direction: column;
        text-align: center;
    }
    .imagen
    {
        margin: 0;
        width: 90%;
    }
    .Nombre{
        width: 10%;
        margin-right: 9vw;
    }
    .Texto
    {
        width: 90%;
        margin: 2vh;
    }
    .Slider
    {
        height: auto;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    #v
    {
        width: 93%;
        margin: 2vh;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
@media(min-width: 0px) and (max-width:481px){
    nav{
        float: none;
        width: auto;
    }
    .select{
        display: inline;
    }
    nav .Menu{
        display: none;
    }
    .Contenido{
        flex-direction: column;
        width: 100%;
    }
    .Contenido1{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .imagen
    {
        width: 90%;
        margin: 0 2vw;
        margin-left: 10vh;
    }
    .Nombre{
        width: 10%;
        margin-right: 9vw;
    }
    .Texto
    {
        width: 100%;
        margin: 2vh 2vw;
    }
    .Historia >p{
        width: 95%;
        margin: 2vh 2vw;
    }
    .Slider
    {
        height: auto;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    #v
    {
        width: 93%;
        margin: 2vh;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

